Add your import statements and the database connection statements in the below code block

Database file path = '/course/data/CSE-578/dinofunworld.db'

In [2]:
#your code here
import sqlite3

db_filename = '/course/data/CSE-578/dinofunworld.db'
conn = sqlite3. connect(db_filename) 
cursor = conn.cursor()

**Question 1:** 

What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction. Please print your output in the cell below.

In [16]:
### TEST FUNCTION: test_question1
# DO NOT REMOVE THE LINE ABOVE
# your code here

cursor.execute("SELECT a.Name FROM attraction a left join checkin c on a.AttractionID=c.attraction group by 1 order by count(visitorId) desc limit 1")
print(cursor.fetchone()[0])

Atmosfear

**Question 2:** 

What ride (note that not all attractions are rides) has the second longest average visit time?

**Note:** Your output should be the name of the ride. Please print your output in the cell below.

In [17]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here
#cursor.execute("SELECT a.Name FROM attraction a left join checkin c on a.Name=c.attraction where a.Name like '%ide%'group by 1 order by avg(duration) desc limit 1")
cursor.execute("SELECT a.Name FROM attraction a left join checkin c on a.AttractionID=c.attraction where a.Category like '%Ride%' group by 1 order by avg(duration) desc limit 1")
print(cursor.fetchone()[0])

Flight of the Swingodon

**Question 3:** 

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering. Please print your output in the cell below.

In [20]:
### TEST FUNCTION: test_question3
# DO NOT REMOVE THE LINE ABOVE
# your code here
cursor.execute(
    '''SELECT a.Name 
    FROM attraction a left join checkin c on a.AttractionID=c.attraction 
    where lower(a.type) like 'Fast Food' 
    group by 1
    order by count(visitorId)
    limit 1
    ''')
print(cursor.fetchall()[0][0])

Theresaur Food Stop